@import 'src/styles/global/vars';

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, .h1{
  font-weight: 400;
  font-size: 72px;
  line-height: 105%;
  letter-spacing: -2.16px;

  span {
    font-weight: 700;
  }

  @media only screen and (max-width: $bp-xl){
    font-size: calc(1.8rem + 2.5vw); 
  }
  
  @media only screen and (max-width: $bp-sm){
      font-size: 25px;
      letter-spacing: -0.75px;
  }
}

h2, .h2{
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;

  @media only screen and (max-width: $bp-xl){
    font-size: 32px
  }

  @media only screen and (max-width: $bp-sm){
    font-size: 23px;
  }
}

h3, .h3 {
  font-weight: 700;
  font-size: 24px;

  @media only screen and (max-width: $bp-lg){
      
  }
}

h4, .h4 {
  font-weight: 700;
  font-size: 22px;

  @media only screen and (max-width: $bp-lg){
      
  }
}

h5, .h5 {
  font-weight: 700;
  font-size: 20px;

  @media only screen and (max-width: $bp-lg){
      
  }
}

h6, .h6 {
  font-weight: 700;
  font-size: 20px;

  @media only screen and (max-width: $bp-lg){
      
  }
}