<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Не упусти возможность войти в <span>прибыльную нишу</span></h1>
      <picture class="hero__img" >
        <source media="(min-width: 767px)" type="image/webp" srcset="assets/img/man.webp">
        <source media="(min-width: 767px)" srcset="assets/img/man.png">        
        <source type="image/webp" srcset="assets/img/man-mobile.webp">
        <img src="assets/img/man-mobile.png" alt="">
      </picture>
      <p class="hero__desc">Получи все нужные навыки для заработка на NFT всего за 28 дней!</p>
      <button class="hero__button button" data-modal="modal-1">Начать зарабатывать на NFT</button>
    </div>
  </div>
</section>