<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/" class="logo header__logo">
        <img src="assets/img/icons/logo.svg" alt="Логотип">     
      </a> 
      <nav class="header__nav top-menu">
        <ul class="top-menu__list">
          <li class="top-menu__item"><a href="#" class="top-menu__link">Главная</a></li>
          <li class="top-menu__item"><a href="#" class="top-menu__link">Что даст обучение</a></li>
        </ul>
        <a class="top-menu__btn button-secondary" href="#">Личный кабинет</a>
      </nav> 
      <button class="header__burger burger" type="button">
        <span>Меню</span>
      </button> 
    </div>     
  </div>
</header>