@import 'src/styles/global/vars';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;

    @media only screen and (max-width: $bp-sm){
       padding: 20px 0; 
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    display: block;
    width: 128px;
    height: 55px;
    flex-shrink: 0;
    will-change: transform;
    transition: transform .2s ease-in-out;

    @media only screen and (max-width: $bp-xl){
       width: 100px; 
    }

    @media only screen and (max-width: $bp-sm){
       width: 89px;
       height: 36px; 
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    @media only screen and (max-width: $bp-lg){
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      z-index: 1;
      background-color: $bg-color;
      max-height: 100vh;
      overflow-y: auto;
      padding: 115px 16px 60px 20px; 
      padding-right: calc(100% + 20px);
      border-bottom-left-radius: 30px;
    }
  }

  &__burger {
    display: none;

    @media only screen and (max-width: $bp-lg){
       display: block; 
    }
  }

  &::before {
    position: fixed;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    content: "";
    background: rgba(48, 9, 97, 0.30);
    backdrop-filter: blur(7.5px);
    opacity: 0;
    transition: opacity .2s ease;
  }

  &.is-active::before {
    opacity: 1;
    z-index: 1;
    height: 100%;
  }

  &.is-active &__logo {
    transform: translateX(20px);
  }

  &:not(.is-active) &__nav {
    @media only screen and (max-width: $bp-lg){
      display: none;
   }

  }
}

.top-menu {
  display: flex;
  align-items: center;
  gap: 20px 150px;

  @media only screen and (max-width: $bp-xl){
    column-gap: 50px;    
  }

  @media only screen and (max-width: $bp-lg){
    flex-direction: column;
    align-items: flex-start;
    row-gap: 90px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px 105px;

    @media only screen and (max-width: $bp-lg){
       flex-direction: column; 
    }
  }

  &__item {
  }

  &__link {
    color: $secondary-text-color;
    font-size: 23px;
    line-height: 120%;

    @media only screen and (max-width: $bp-sm){
        
    }

    &:hover {
      color: $main-accent-color;      
    }
  }
    
}

.burger {
  position: relative;
  width: 40px;
  height: 20px;
  color: transparent;
  font-size: 0;
  cursor: pointer;
  z-index: 5;

  & span, &::after{
    content: "";
    transition: all .3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: $main-text-color;
  }

  &::after {
    bottom: 2px;
  }
  span {
    top: 2px;
  }

  &.is-active span {
    width: 80%;
    transform: rotate(45deg) translate(5px, 4px);
  }

  &.is-active::after {
    width: 80%;
    transform: rotate(-45deg) translate(5px, -4px);
  }
  
}