<section class="benefits">
  <div class="container">
    <div class="benefits__wrapper">
      <h2 class="benefits__title">Что даст тебе обучение?</h2>
      <ul class="benefits__cards">
        <li class="benefits__item">
          <div class="benefits__content">
            <img class="benefits__img" src="assets/img/icons/smile-1.png" alt="">
            <p class="benefits__desc">Откроешь свой первый криптокошелек и научишься с ним работать</p>
          </div>          
        </li>
        <li class="benefits__item">
          <div class="benefits__content">
            <img  class="benefits__img" src="assets/img/icons/smile-2.png" alt="">
            <p class="benefits__desc">Поймёшь, как выбирать правильные дропы</p>
          </div>          
        </li>
        <li class="benefits__item">
          <div class="benefits__content">
            <img  class="benefits__img" src="assets/img/icons/smile-3.png" alt="">
            <p class="benefits__desc">Построишь план по быстрому приумножению заработанных средств</p>
          </div>          
        </li>
        <li class="benefits__item">
          <div class="benefits__content">
            <img  class="benefits__img" src="assets/img/icons/smile-4.png" alt="">
            <p class="benefits__desc">Узнаешь кто такие холдеры и флипперы</p>
          </div>          
        </li>
      </ul>
      <img class="benefits__decor-1" src="assets/img/icons/ellipse-blue.svg" alt="">
      <img class="benefits__decor-2" src="assets/img/icons/ellipse-purple.svg" alt="">
      <img class="benefits__decor-3" src="assets/img/icons/ellipse-purple-blur.svg" alt="">
    </div>
  </div>
</section>